/*  */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Belanosima', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0;
}
.nav-header .nav-logo{}
.nav-header .nav-logo h1{
    font-size: 26px;
    font-weight: 400;
    text-decoration: line-through;
    color: white;
}
.nav-header .nav-logo span{
    color: red;
    font-size:35px;
    text-decoration: none;
    text-transform: capitalize;
}
.nav-header .nav-menu{}
.nav-header .nav-menu ul{
    display: flex;
    
}
.nav-header .nav-menu ul li{
    color: white;
    list-style: none;
    margin-right: 20px;
}
.nav-header .nav-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;

}
.nav-header .nav-menu ul li a:hover{
    color: palegreen;
}
.container{
    
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 300px 0;
    max-width: 1100px;
    margin: auto;
    
}ss
.text-container{
    width: 400px;
    align-items: flex-end;
}
.text-container h1{
    font-size: 45px;
    text-align: right;
}
.text-container p{
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}
.text-container a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    

}
.btn-primary{
    padding: 16px 35px;
    text-align: right;
    background-color: #F15B22;
    border: 1px solid #F15B22;

}
.btn-primary:hover{
    background-color: #ffffff;
    border: 1px solid #F15B22;
    color: #F15B22;
}